<app-header></app-header>
<button class="backButton" [routerLink]="['/home']">&larr;</button>
<div class="article-container">
  <div class="article-header">
    <img
      [src]="article?.thumbnail"
      alt="Article Thumbnail"
      class="article-thumbnail"
    />
    <h1>{{ article?.title }}</h1>
    <p><strong>By:</strong> {{ article?.author }}</p>
    <button class="comment-icon" (click)="openSidebar()">
      <i class="fas fa-comment"></i>
    </button>
    <div [innerHTML]="article?.description"></div>
  </div>

  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="sidebar-header">
      <h2>Comments ({{ article?.comments?.length }})</h2>
      <button class="close-btn" (click)="closeSidebar()">&times;</button>
    </div>

    <div class="new-comment">
      <input
        type="text"
        [(ngModel)]="newCommentText"
        placeholder="Write a comment..."
      />
      <button (click)="addComment()">Post</button>
    </div>
    <br />
    <div class="sorting-options">
      <label for="sortDropdown">Sort by:</label>
      <select
        id="sortDropdown"
        [(ngModel)]="selectedSort"
        (change)="sortParentComments()"
      >
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </div>

    <div *ngFor="let comment of article?.comments" class="comment">
      <p>
        <strong>{{ comment.author }}</strong> at {{ comment.time }}
      </p>
      <p>{{ comment.text }}</p>
      <button (click)="openReplyBox(comment.id)">Reply</button>

      <div *ngFor="let reply of comment.replies" class="reply">
        <p>
          <strong>{{ reply.author }}</strong> at {{ reply.time }}
        </p>
        <p>{{ reply.text }}</p>
      </div>

      <div *ngIf="replyToCommentId === comment.id" class="reply-input">
        <input
          type="text"
          [(ngModel)]="replyText"
          placeholder="Write a reply..."
        />
        <button (click)="addReply(comment.id)">Post Reply</button>
      </div>
    </div>
  </div>
</div>
